*{margin: 0;
    padding: 0;}
   
    .menu4 nav ul{
       width: 50vw;
       display:flex;
       margin: 0px auto;
       justify-content: space-between;
       padding: 10px;
   }
   .menu4 nav ul li a:hover{
      list-style: none;
      color: yellow;
      transition: .2 ease-in-out;
   }
   .menu4 {
       width: 100vw;
      background-color: black; 
   }
   .menu4 nav{
       width: 50vw;
       display:flex;
       margin: 0px auto; 
       padding: 10px;
   }
   
   li a{
       list-style: none;
       color: white;
       text-decoration: none;
       font-family: 'Lucida Sans';
   }